{% mount './component' as 'bar' %}

{% mount async './parts/#{ part }.twig' as 'bar-#{part}' with {foo: 'bar'} delay placeholder by 1s %}
  Loading...
{% catch err %}
  Failed to load with {{ err }}
{% endmount %}

<div class="profile-wrapper account">
    {% if isProfilePageDisplayed %}
        {% mount '../Profile' as 'profile' with {
            user: user,
            expressBookingIframeUrl: expressBookingIframeUrl,
            paymentMethodsIframeUrl: paymentMethodsIframeUrl,
            isAboveScreenMedium: isAboveScreenMedium,
            anchor: anchor,
            recentlyViewedExpanded: recentlyViewedExpanded
        } %}
    {% endif %}
</div>
