<div>
{{ first  ~   second    }}
</div>

<span data-whitespace-test="Testing: {{- noWhitespaceTest -}} foo">Test</span>

{% set calendarIcon = isNewGuestSelector ? 'icn_#{type | lower}_line_dark' : type | lower %}

{% icon 'name' with { classList: 'classA' ~ (not needsB ? ' classB') } %}
