{% set isRewardRate = isMarriottRewardRate or (rewardRateAltIds and deal.dealId in rewardRateAltIds[accommodation.id.id]) %}

<!-- Alternatively, introduce another variable -->
{% set altIds = rewardRateAltIds[accommodation.id.id] %}
{% set isRewardRate = isMarriottRewardRate or (rewardRateAltIds and deal.dealId in altIds) %}

<!-- Always break objects -->
<section class="{{ {
    base: css.prices
} | classes }}">
</section>

<!-- This is what happens if we reduce indentation depth here:
    "as" and object keys at same indentation level
-->
<article>
    {% mount '@hotelsearch/accommodation-list/src/Slideout/index'
        as 'accommodation-slideout-' ~ accommodation.id.id with {
        key: 'accommodation-slideout-' ~ accommodation.id.id,
        itemId: accommodation.id.id,
        item: accommodation,
        isSearchedItem: isSearchedItem,
        bestPrice: accommodation.deals.bestPrice,
        insights: hasInsights ? insightsData.accommodation.id.id,
        clickedAltDealPartnerId: clickedAltDealPartnerId,
        entirePlace: isEntirePlace ? entirePlaceData.accommodation.id.id
    } %}
</article>
