{% set isRewardRate = isMarriottRewardRate or (rewardRateAltIds and deal.dealId in rewardRateAltIds[accommodation.id.id]) %}

<!-- Alternatively, introduce another variable -->
{% set altIds = rewardRateAltIds[accommodation.id.id] %}
{% set isRewardRate = isMarriottRewardRate or (rewardRateAltIds and deal.dealId in rewardRateAltIds[accommodation.id.id]) %}

<!-- Always break objects -->
<section class="{{ {
    base: css.prices
} | classes }}">
</section>
