<!-- Cannot fix this. Either always parentheses, or never when args empty -->
{% include './partials/arrowBtn.melody.twig' with {
    ref: prev | parensStripped(),
} only %}

<!-- Possibly reduce level of indentation. Empty object with only one space -->
{% set recommendedClickoutAttributes = hasRecommendedPrice ? clickoutAttributes | merge({
    'data-id': recommendedPrice.dealId,
    'data-co_params': recommendedPrice.clcklB | json_encode(),
    'data-co_li_lo': 1
}) : {} %}

<!-- reduce indentation depth -->
{% mount './web47490/PackageDealBadge' as 'PackageDealBadge' with {
    packageDealOTAId: accommodation.packageDealOTAId,
    destination: accommodation.locality.value,
    accommodationId: accommodation.id.id
} %}

<!-- Remove space at the end of attribute -->
<div id="pspIframe ">abcd</div>

<p class="alert__message">
    {{
        'results_for'
            | translate({
                searchedterm: '<mark class="highlight-search-term">' ~ semKeyword ~ '</mark>'
            })
            | raw
    }}
</p>

<!-- don't break -->
{% if isLeftToRight %}Hund{% endif %} 

{% if isRTL %}
        {{ '&#8206;' | raw }}
    {% endif %}

{##
# Ellipsis Loader Wrapper
#
# @param string key Unique key
# @param string [id] Element's unique id
# @param string [classList] Space separated list of classes to add to the loader
# @param boolean [isFullPage] Indicates whether the loader is full page or not
# @param boolean [isAbsolute] Indicates whether the loader is absolutely positioned or not
# @param string [type] Type of loader (one of branded, bright, or dark)
# @param string [text] Contains text to display below loading animation
# @param boolean [isVisible] Whether the loader is visible or not
# @param boolean [centreVertically] Whether the loader is vertically centred or not (default: true)
# @param object [attributeList] Object of key:value attribute pairs to add to the loader
#}

{##
 # Slideout Deal Description
 #
 #  @param boolean  isMultiRoom         MultiRoom Room Type
 #  @param string   description         Deal Description
 #  @param array    rateAttributes      Deal Attributes (array of string values)
 #  @param string   price               Deal price
 #}
