<!-- Double interpolation. Get rid of spaces in interpolation. -->
{% mount 'general/arrow-36x36' with {
        classList: {
            base: "#{ css['arrowIcon#{ action }'] } icon-rtl",
            'icon-flip': flipIcon ?? false
        } | classes
    } %}


<!-- preserve parentheses -->
{% set isRewardRate = isMarriottRewardRate or (rewardRateAltIds and deal.dealId in rewardRateAltIds[accommodation.id.id]) %}

<!-- Look into exception for break before %} -->
{% set replacement = {
    '$address': '<span itemprop="streetAddress">' ~ address_attributes.address
        ~ '</span>'
} %}
