<p class="alert__message">
    {{
        'results_for'
            | translate({
                searchedterm: '<mark class="highlight-search-term">' ~ semKeyword ~ '</mark>'
            })
            | raw
    }}
</p>
