{# IF tag in element not allowed
<option {% if not purchasable.isAvailable %}disabled{% endif %}>
    {{ purchasable.description }}
    {{
        purchasable.salePrice|commerceCurrency(
            cart.currency
        )
    }}
</option>
#}
