<!-- Cannot fix this. Either always parentheses, or never when args empty -->
{% include './partials/arrowBtn.melody.twig' with {
    ref: prev | parensStripped(),
} only %}

<p class="alert__message">
    {{
        'results_for'
            | translate({
                searchedterm: '<mark class="highlight-search-term">' ~ semKeyword ~ '</mark>'
            })
            | raw
    }}
</p>
