{# IF tag in element not allowed
<option {% if not purchasable.isAvailable %}disabled{% endif %}>
    {{ purchasable.description }}
    {{
        purchasable.salePrice|commerceCurrency(
            cart.currency
        )
    }}
</option>
#}

{% icon 'general/arrow-36x36' with {
        classList: {	        
            base: "#{css['arrowIcon#{action}']} icon-rtl",	            
            'icon-flip': flipIcon ?? false
        } | classes
    } 
%}
