{# IF tag in element not allowed
<option {% if not purchasable.isAvailable %}disabled{% endif %}>
    {{ purchasable.description }}
    {{
        purchasable.salePrice|commerceCurrency(
            cart.currency
        )
    }}
</option>
#}

{# -}} becomes }} #}
{% if isRTL %}{{ '&#8206;' | raw }}{% endif %}
{{- '' ~ (not deal.displayPrice and deal.name.value != '' ? dash : deal.displayPrice) -}}
