{% set list = [1, 2] %}
{% set foo = 0 %}
{% set foo = 'foo' ~ 'bar' %}
{% set foo = {'fruit': 'apple', 'shape': 'round', 'taste': 'sweet', 'region': 'Europe' } %}
{% set foo = {'fruit': 'apple', 'shape': 'round', 'taste': 'sweet', 'region': 'Europe', 'colour': 'reddish' } %}
{% set foo, bar = 'foo', 'bar' %}
{% set foo %}
    <div id="pagination">
        Some text
    </div>
{% endset %}
